:root {
  --header: #fff;
  --bg-color: #efefef;
  --shadow: rgba(0, 0, 0, 0.1);
  --text-color: #373737;
  --grey: #6a6a6a;
}

.darkmode {
  --header: hsl(209, 23%, 22%);
  --bg-color: hsl(207, 26%, 17%);
  --text-color: #ffffff;
  --grey: #6a6a6a;
}

body {
  background-color: var(--bg-color);
}

.btn-back {
  margin: 5rem 0 5rem 20rem;
  font-size: 2rem;
  width: 12rem;
  height: 5rem;
  display: flex;
  gap: 1.8rem;
  padding: 1.6rem;
  align-items: center;
  background-color: var(--header);
  border-radius: 5px;
  color: var(--text-color);
  box-shadow: 0 0 4px 1px var(--shadow);
}

.country-container {
  width: 100%;
  height: 50rem;
  padding: 0 20rem;
  display: flex;
  gap: 8rem;
  align-items: center;
}

.country-flag-box {
  width: 50%;
  height: 100%;
}

.country-flag {
  width: 80%;
  height: 80%;
  object-fit: cover;
}

.country-name {
  font-size: 3.2rem;
}

.content {
  margin: 4rem 0 6rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  row-gap: 1.6rem;
}

.content .country-info:last-child {
  grid-column: 1/-1;
}

.country-info {
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  gap: 1rem;
}

.country-info span {
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--grey);
}

.neighbours-box {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.neighbours-box .country-info {
  margin-bottom: 3rem;
}

.neighbours {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  height: 10rem;
  width: 40rem;
}

.neighbours p {
  background: var(--header);
  border-radius: 5px;
  box-shadow: 0 0 4px 1px var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}
